In [1]:
import pandas as pd
import numpy as np
import os
# import matplotlib.pyplot as plt

In [2]:
### Merging data into an single files
list_directories = os.listdir('/home/developer/Desktop/Pandas/SalesAnalysis/Sales_Data')
list_directories = [file for file in list_directories if file.endswith('.csv')]
list_of_dataframes = []
for filename in list_directories:
    df = pd.read_csv(f"/home/developer/Desktop/Pandas/SalesAnalysis/Sales_Data/{filename}") 
    list_of_dataframes.append(df)
df = pd.concat(list_of_dataframes,ignore_index=True)
df.columns = df.columns.str.strip()
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301"
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301"
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301"
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016"
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016"
...,...,...,...,...,...,...
186845,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016"
186846,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001"
186847,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016"
186848,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101"
186849,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001"

In [3]:

df[['Date', 'Time']] = df['Order Date'].str.split(' ',n=1, expand=True)
df
# df['Order Date']

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Date,Time
0,162009,iPhone,1,700,03/28/19 20:59,"942 Church St, Austin, TX 73301",03/28/19,20:59
1,162009,Lightning Charging Cable,1,14.95,03/28/19 20:59,"942 Church St, Austin, TX 73301",03/28/19,20:59
2,162009,Wired Headphones,2,11.99,03/28/19 20:59,"942 Church St, Austin, TX 73301",03/28/19,20:59
3,162010,Bose SoundSport Headphones,1,99.99,03/17/19 05:39,"261 10th St, San Francisco, CA 94016",03/17/19,05:39
4,162011,34in Ultrawide Monitor,1,379.99,03/10/19 00:01,"764 13th St, San Francisco, CA 94016",03/10/19,00:01
...,...,...,...,...,...,...,...,...
186845,278792,AA Batteries (4-pack),1,3.84,10/12/19 04:32,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32
186846,278793,Wired Headphones,1,11.99,10/28/19 22:00,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00
186847,278794,AA Batteries (4-pack),1,3.84,10/09/19 20:58,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58
186848,278795,iPhone,1,700,10/31/19 17:21,"291 Hill St, Seattle, WA 98101",10/31/19,17:21
186849,278796,Wired Headphones,1,11.99,10/13/19 11:20,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20

In [4]:
# finding Filtering the data
df = df[df['Order ID'].isna() == False]
df.drop('Order Date',axis = 1,inplace= True)
df.reset_index(inplace = True)

/tmp/ipykernel_80043/1239429613.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Order Date',axis = 1,inplace= True)

In [5]:
df

,index,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time
0,0,162009,iPhone,1,700,"942 Church St, Austin, TX 73301",03/28/19,20:59
1,1,162009,Lightning Charging Cable,1,14.95,"942 Church St, Austin, TX 73301",03/28/19,20:59
2,2,162009,Wired Headphones,2,11.99,"942 Church St, Austin, TX 73301",03/28/19,20:59
3,3,162010,Bose SoundSport Headphones,1,99.99,"261 10th St, San Francisco, CA 94016",03/17/19,05:39
4,4,162011,34in Ultrawide Monitor,1,379.99,"764 13th St, San Francisco, CA 94016",03/10/19,00:01
...,...,...,...,...,...,...,...,...
186300,186845,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32
186301,186846,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00
186302,186847,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58
186303,186848,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",10/31/19,17:21
186304,186849,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20

In [6]:
df = df[df['Date'].str[0:2]!='Or']
df

,index,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time
0,0,162009,iPhone,1,700,"942 Church St, Austin, TX 73301",03/28/19,20:59
1,1,162009,Lightning Charging Cable,1,14.95,"942 Church St, Austin, TX 73301",03/28/19,20:59
2,2,162009,Wired Headphones,2,11.99,"942 Church St, Austin, TX 73301",03/28/19,20:59
3,3,162010,Bose SoundSport Headphones,1,99.99,"261 10th St, San Francisco, CA 94016",03/17/19,05:39
4,4,162011,34in Ultrawide Monitor,1,379.99,"764 13th St, San Francisco, CA 94016",03/10/19,00:01
...,...,...,...,...,...,...,...,...
186300,186845,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32
186301,186846,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00
186302,186847,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58
186303,186848,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",10/31/19,17:21
186304,186849,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20

ADDING MONTH COLUMN

In [7]:
df['month'] = df['Date'].str[0:2]
df['month'] = df['month'].astype("int32")
df

/tmp/ipykernel_80043/1425785277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['Date'].str[0:2]
/tmp/ipykernel_80043/1425785277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['month'].astype("int32")

,index,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time,month
0,0,162009,iPhone,1,700,"942 Church St, Austin, TX 73301",03/28/19,20:59,3
1,1,162009,Lightning Charging Cable,1,14.95,"942 Church St, Austin, TX 73301",03/28/19,20:59,3
2,2,162009,Wired Headphones,2,11.99,"942 Church St, Austin, TX 73301",03/28/19,20:59,3
3,3,162010,Bose SoundSport Headphones,1,99.99,"261 10th St, San Francisco, CA 94016",03/17/19,05:39,3
4,4,162011,34in Ultrawide Monitor,1,379.99,"764 13th St, San Francisco, CA 94016",03/10/19,00:01,3
...,...,...,...,...,...,...,...,...,...
186300,186845,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32,10
186301,186846,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00,10
186302,186847,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58,10
186303,186848,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",10/31/19,17:21,10
186304,186849,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20,10

Adding a Sales Coloumn

In [8]:
df['Total_Price'] = df['Quantity Ordered'].astype('int32') * df['Price Each'].astype('float32').apply(lambda x: round(x))
df

/tmp/ipykernel_80043/3959607236.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Total_Price'] = df['Quantity Ordered'].astype('int32') * df['Price Each'].astype('float32').apply(lambda x: round(x))

,index,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time,month,Total_Price
0,0,162009,iPhone,1,700,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,700
1,1,162009,Lightning Charging Cable,1,14.95,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,15
2,2,162009,Wired Headphones,2,11.99,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,24
3,3,162010,Bose SoundSport Headphones,1,99.99,"261 10th St, San Francisco, CA 94016",03/17/19,05:39,3,100
4,4,162011,34in Ultrawide Monitor,1,379.99,"764 13th St, San Francisco, CA 94016",03/10/19,00:01,3,380
...,...,...,...,...,...,...,...,...,...,...
186300,186845,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32,10,4
186301,186846,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00,10,12
186302,186847,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58,10,4
186303,186848,278795,iPhone,1,700,"291 Hill St, Seattle, WA 98101",10/31/19,17:21,10,700
186304,186849,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20,10,12

In [9]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])
df

/tmp/ipykernel_80043/1630273779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
/tmp/ipykernel_80043/1630273779.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Price Each'] = pd.to_numeric(df['Price Each'])

,index,Order ID,Product,Quantity Ordered,Price Each,Purchase Address,Date,Time,month,Total_Price
0,0,162009,iPhone,1,700.00,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,700
1,1,162009,Lightning Charging Cable,1,14.95,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,15
2,2,162009,Wired Headphones,2,11.99,"942 Church St, Austin, TX 73301",03/28/19,20:59,3,24
3,3,162010,Bose SoundSport Headphones,1,99.99,"261 10th St, San Francisco, CA 94016",03/17/19,05:39,3,100
4,4,162011,34in Ultrawide Monitor,1,379.99,"764 13th St, San Francisco, CA 94016",03/10/19,00:01,3,380
...,...,...,...,...,...,...,...,...,...,...
186300,186845,278792,AA Batteries (4-pack),1,3.84,"920 Adams St, San Francisco, CA 94016",10/12/19,04:32,10,4
186301,186846,278793,Wired Headphones,1,11.99,"161 Chestnut St, Los Angeles, CA 90001",10/28/19,22:00,10,12
186302,186847,278794,AA Batteries (4-pack),1,3.84,"346 Spruce St, San Francisco, CA 94016",10/09/19,20:58,10,4
186303,186848,278795,iPhone,1,700.00,"291 Hill St, Seattle, WA 98101",10/31/19,17:21,10,700
186304,186849,278796,Wired Headphones,1,11.99,"547 Jefferson St, Los Angeles, CA 90001",10/13/19,11:20,10,12

Question 1: What was the best month for sales? How much was earned that month?

In [10]:
total_sum = df.groupby('month')[['Quantity Ordered', 'Total_Price']].sum()

print(total_sum)

       Quantity Ordered  Total_Price
month
1                 10903      1822655
2                 13449      2202517
3                 17005      2807722
4                 20558      3391444
5                 18667      3153280
6                 15253      2578373
7                 16072      2648362
8                 13448      2244966
9                 13109      2098053
10                22703      3737561
11                19798      3200335
12                28114      4614482

In [11]:
ax = plt.subplot()
ax.bar(total_sum.index,total_sum.groupby(['month']).sum()['Total_Price'])
ax.set_xlabel("Months")
ax.set_ylabel("Total_Price")
ax.set_ylim(0, total_sum['Total_Price'].max() * 1.1)
plt.show()

NameError: name 'plt' is not defined

Question 2: What city sold the most product?

differenciate the city from the Purchase Address

In [ ]:
def trim_the_city(cell):
    return cell.split(',')[1].strip()
df['City']= df['Purchase Address'].apply(lambda cell:trim_the_city(cell))
df

Question 2: What city sold the most product?

In [ ]:
total = df.groupby('City')[['Quantity Ordered']].sum()
total

In [ ]:
plt.bar(total.index, total['Quantity Ordered'])
plt.xticks(total.index,rotation = 'vertical')
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.show()

In [ ]:

x = [0, 2, 4, 6, 8, 10]
y = [0, 1, 4, 9, 16, 25]

plt.plot(x, y)
plt.xticks([0, 5, 10], ['start', 'middle', 'end'])
plt.yticks([0, 10, 20, 30], ['start', 'middle', 'end','FINISH'])
plt.show()

In [ ]:
import matplotlib.pyplot as plt

data = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4,4,4,4, 5, 5, 5, 5, 5]

plt.hist(data, bins=5,density=True)
# plt.xlabel('Values')
plt.xticks([1,2,3,4,5])
# plt.ylabel('Frequency')
# plt.title('Histogram')
# plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

data = np.random.randn(1000)

plt.hist(data, bins=10, density=False,histtype='step')
plt.xlabel('Value')
plt.ylabel('Density')
plt.title('Distribution Plot')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# Generate random data
data = np.random.randn(1000)

# Compute the histogram
counts, bin_edges = np.histogram(data, bins=10)

# Plot the histogram
plt.hist(data, bins=10, density=False, histtype='stepfilled')
plt.xlabel('Value')
plt.ylabel('Count')
plt.title('Distribution Plot')

# Calculate the bin centers
bin_centers = (bin_edges[:-1] + bin_edges[1:]) / 2

# Plot a line that touches the top of the histogram bars
plt.plot(bin_centers, counts, marker='+', linestyle='-', color='c',)

# Show the plot
plt.show()

In [ ]:
df

Question 3: What time should we display advertisements to maximize likelihood of customer's buying product?

In [ ]:
df['Date']= pd.to_datetime(df['Date'])
df

In [ ]:
df['Hours'] = df['Time'].apply(lambda x:x.strip().split(':')[0])
Hours_data = df.groupby(by ='Hours').count()

In [ ]:
df

In [ ]:
# ploting the graph
plt.plot(Hours_data.index,Hours_data, marker = 'o')
plt.grid()
plt.xlabel('Hours')
plt.ylabel('Products Sold Out')
plt.title('Analysis of Hours')
plt.show()

Question 4: What products are most often sold together?

In [ ]:
new_df = df[df['Order ID'].duplicated(keep=False)]
new_df['Total_Products'] = new_df.groupby(by = 'Order ID')['Product'].transform(lambda x:' | '.join(x))
Unique_user_Grouped_Products = new_df[['Order ID', 'Total_Products']].drop_duplicates(ignore_index=True)
Unique_user_Grouped_Products

In [ ]:
data = Unique_user_Grouped_Products.groupby(by = 'Total_Products').count()
data

In [ ]:
Most_Top_10= data.sort_values(by = 'Order ID', ascending = False)
print(Most_Top_10.index[0:10])
print(Most_Top_10.iloc[:10,0])

In [ ]:
top_10_index = Most_Top_10.index[:10]
top_10_values = Most_Top_10.iloc[:10, 0]  
plt.figure(figsize=(10, 10))  # Optional: Adjust figure size
plt.bar(top_10_index, top_10_values)

plt.xlabel("Products Sold Together")
plt.ylabel("Number of Times Group Sold")
plt.xticks(rotation='vertical')  # Rotate x-axis labels vertically for better readability

plt.tight_layout()  # Optional: Adjust layout to prevent clipping of labels
plt.show()

#### What product sold the most? Why do you think it sold the most?

In [ ]:
df

In [ ]:
df['Product'].value_counts()

In [ ]:
pivot_table = df.pivot_table(values='Quantity Ordered', index = 'Product',aggfunc='sum',sort=True).reset_index()
pivot_table.sort_values(by = 'Quantity Ordered',ascending=False,inplace = True,ignore_index=True)
pivot_table

In [ ]:
plt.bar(pivot_table['Product'],pivot_table['Quantity Ordered'])
plt.xticks(rotation= 'vertical')
plt.xlabel('Products')
plt.ylabel('Quantity Sold')
plt.show()

In [ ]:
pivot_table.plot()

In [ ]:
indx = pd.date_range(start='2024-01-01', end='2024-01-10')
values = np.random.randint(50,size=(10))
Temp = pd.DataFrame(index=indx, data=values,columns=['values'])
Temp.index = pd.to_datetime(Temp.index)
Temp

In [ ]:
Temp['2024-01-01':'2024-01-06']

In [ ]:
Temp.reset_index(inplace=True)

In [ ]:
Temp_unsampled = Temp.set_index('index').resample('m').asfreq()
Temp_unsampled
Temp.set_index('index')

In [ ]:
Temp.plot()

In [ ]:
df.columns

#### How would you create a bar chart to visualize total sales (Total_Price) for each month?

In [ ]:
Sales= df.groupby(by='month')['Total_Price'].sum()
Sales

In [ ]:
plt.figure(figsize=(10,8))
plt.bar(Sales.index, Sales)
plt.xticks(Sales.index)
plt.xlabel("Months")
plt.ylabel("Sales in millions")

plt.show()

#### How can you find the top 5 products by the total quantity ordered (Quantity Ordered) and visualize this information using a bar plot?

In [ ]:
y = df.groupby(by ='Product')['Quantity Ordered'].sum().sort_values(ascending= False)[:5]
x = y.index
plt.bar(x,y)
plt.xticks(rotation = 'vertical')
plt.show()

## How would you plot a line graph to show the sales trend over time using the Date column?

In [ ]:
df

In [ ]:
new_sales_month = df[['Product','Quantity Ordered', 'Date', 'Total_Price']]
new_sales_month.set_index('Date', inplace=True)
actula_data= new_sales_month['Quantity Ordered'].resample('m').sum()
actula_data.index.month

In [ ]:
plt.plot(actula_data.index, actula_data)
plt.xlabel("Months --->")
plt.ylabel("Total Product Sold --->")
plt.xticks(rotation = 45)
plt.show()

## How can you group the data by City and visualize the total sales (Total_Price) for each city using a pie chart?

In [ ]:
df

In [ ]:
Total_sale_by_city = df.groupby(by = 'City')['Total_Price'].sum()
Total_sale_by_city

In [ ]:
plt.style.use('fivethirtyeight')
plt.pie(Total_sale_by_city,labels=Total_sale_by_city.index, shadow=False, autopct="%1.1f%%")
plt.axis('equal')
plt.show()

### What steps would you take to determine the peak hours for sales and visualize this using a histogram?

In [ ]:
df

In [ ]:
# # df.groupby(by = 'Hours')['Total_Price'].sum()
# plt.hist(df['Total_Price'],bins=np.arange(24))
# plt.show() # Ensure Hours are correctly extracted
x = df['Hours'].sort_values()
plt.hist(x, bins=np.arange(0, 25), edgecolor='black', rwidth=0.8)
plt.title('Sales Distribution by Hour of the Day')
plt.xlabel('Hour of the Day')
plt.ylabel('Number of Products Sold')
plt.xticks(np.arange(0, 24))
plt.show()

In [ ]:
df.groupby(by = 'Hours')['Total_Price'].sum()

### How would you use numpy to calculate the average Price Each for products, and then create a scatter plot to show the relationship between Quantity Ordered and Price Each?

In [ ]:
Average_Price = np.mean(df['Price Each'])
plt.figure(figsize=(10,5))
plt.scatter(df['Quantity Ordered'],df['Price Each'],color='red',label='Data Points')
plt.axhline(Average_Price, linestyle='--', label=f'Average Price: {Average_Price:.2f}')
plt.show()

In [ ]:
import seaborn as sea
sea.distplot(df['Quantity Ordered'])

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Calculate average Price Each for products
average_price_each = df.groupby('Product')['Price Each'].mean()

# Scatter plot to show relationship between Quantity Ordered and Price Each
plt.figure(figsize=(10, 6))
plt.scatter(df['Quantity Ordered'], df['Price Each'], alpha=0.5)
plt.xlabel('Quantity Ordered')
plt.ylabel('Price Each')
plt.title('Quantity Ordered vs. Price Each')
plt.grid(True)
plt.show()

In [ ]:
plt.figure(figsize=(10, 6))
plt.hist(df['Quantity Ordered'], bins=20, edgecolor='black')
plt.xlabel('Quantity Ordered')
plt.ylabel('Frequency')
plt.title('Distribution of Quantity Ordered')
plt.grid(True)
plt.show()

In [ ]:
correlation = df['Quantity Ordered'].corr(df['Total_Price'])

plt.figure(figsize=(8, 6))
plt.scatter(df['Quantity Ordered'], df['Total_Price'], alpha=0.5)
plt.xlabel('Quantity Ordered')
plt.ylabel('Total Price')
plt.title(f'Correlation: {correlation:.2f}')
plt.grid(True)
plt.show()

In [ ]:
# # Assuming a 'Category' column exists in your DataFrame
# category_sales = df.groupby('Category')['Total_Price'].sum()

# plt.figure(figsize=(10, 6))
# plt.bar(category_sales.index, category_sales)
# plt.xlabel('Product Category')
# plt.ylabel('Total Sales')
# plt.title('Total Sales per Product Category')
# plt.xticks(rotation=45)
# plt.show()

In [ ]:
# Assuming 'Date' column is in datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Calculate monthly total sales
monthly_sales = df.resample('M', on='Date')['Total_Price'].sum()

# Calculate monthly growth rate
monthly_growth = monthly_sales.pct_change()

plt.figure(figsize=(10, 6))
plt.plot(monthly_growth.index, monthly_growth, marker='o')
plt.xlabel('Months')
plt.ylabel('Monthly Growth Rate')
plt.title('Month-over-Month Sales Growth')
plt.xticks(rotation=45)
plt.grid(True)
plt.axhline(0, color='black', linestyle='--', linewidth=0.5)
plt.show()

In [ ]:
# Calculate monthly total sales
monthly_sales = df.resample('M', on='Date')['Total_Price'].sum()
print(monthly_sales)

# Calculate monthly growth rate
monthly_growth = monthly_sales.pct_change()
monthly_growth

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df)
profile.to_file(output_file="view.html")

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import skew, kurtosis

# Generate example data
np.random.seed(0)
data = np.random.normal(loc=0, scale=1, size=1000)

# Create DataFrame
df = pd.DataFrame(data, columns=['Values'])

# Calculate statistics
mean_value = df['Values'].mean()
median_value = df['Values'].median()
std_deviation = df['Values'].std()
skewness = skew(df['Values'])
kurt = kurtosis(df['Values'])

# Print statistics
print(f"Mean: {mean_value}")
print(f"Median: {median_value}")
print(f"Standard Deviation: {std_deviation}")
print(f"Skewness: {skewness}")
print(f"Kurtosis: {kurt}")

# Plot histogram and density plot
plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
sns.histplot(df['Values'], kde=True)
plt.title('Histogram with Density Plot')

plt.subplot(1, 2, 2)
sns.kdeplot(df['Values'], shade=True)
plt.title('Density Plot')

plt.tight_layout()
plt.show()

In [ ]:
sns.get_dataset_names()

In [ ]:
tips = sns.load_dataset('tips')
iris = sns.load_dataset('iris')
titanic = sns.load_dataset('titanic')
plannets = sns.load_dataset('planets')

In [ ]:
tips

In [ ]:
sns.scatterplot(x='tip', y='total_bill',data = tips,hue="day",size='size',palette="YlGnBu")

In [ ]:
sns.histplot(tips['tip'],kde=True, bins=15)

In [ ]:
sns.distplot(tips['tip'],kde= True, bins = 15, color='g')

In [ ]:
sns.barplot(x = tips['day'], y = tips['tip'],fill = True,palette="YlGnBu")

In [ ]:
sns.barplot(x = tips['sex'], y = tips['tip'],fill = True,palette="YlGnBu")

In [ ]:
sns.boxplot(x='day',y='tip', data= tips, hue='sex')